<div ng-init="Init()" style="padding-bottom: 700px;">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Data Kriteria</h4>
                <div class="ml-auto text-right">
                    <a class="float-right" title="Tambah Kriteria" data-toggle="modal" ng-click="TombolTambahGejala()" data-target="#TambahKriteria">
                        <font size="10px" color="blue"><i class="mdi mdi-plus-circle"></i></font>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="card m-b-0" ng-repeat="ItemKriteria in DatasKriteria">
                <div class="card-header" id="headingOne{{ItemKriteria.IdKriteria}}">
                    <h5 class="mb-0 d-flex no-block align-items-center">
                        <a data-toggle="collapse" data-target="#collapseOne{{ItemKriteria.IdKriteria}}" aria-expanded="true" aria-controls="collapseOne{{ItemKriteria.IdKriteria}}">
                            <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                            <span>{{ItemKriteria.Keterangan}}({{ItemKriteria.Kriteria}}) &nbsp;&nbsp; | &nbsp;&nbsp; {{ItemKriteria.Jenis}} </span>
                        </a>
                        <div class="ml-auto text-right">
                            <a href="" data-toggle="modal" data-placement="top" title="Update Kriteria" ng-click="GetItemKriteria(ItemKriteria)" data-target="#EditKriteria">
                                <i class="mdi mdi-check"></i>
                            </a>
                            <a href="" data-toggle="modal" data-placement="top" title="Add Sub Kriteria" ng-click="GetIdKriteria(ItemKriteria)" data-target="#TambahSubKriteria">
                                <i class="mdi mdi-plus"></i>
                            </a>
                        </div>
                    </h5>
                </div>
                <div id="collapseOne{{ItemKriteria.IdKriteria}}" class="collapse" aria-labelledby="headingOne{{ItemKriteria.IdKriteria}}" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="card col-6">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Sub Kriteria {{ItemKriteria.Kriteria}}</h5>
                            </div>
                            <table class="table card-header">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Jarak</th>
                                        <th scope="col">Bobot</th>
                                        <td scope="col">Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr scope="row" ng-repeat="itemSub in ItemKriteria.SubKriteria">
                                        <td>{{$index+1}}</td>
                                        <td>{{itemSub.Jarak}}</td>
                                        <td>{{itemSub.BobotSubKriteria}}</td>
                                        <td>
                                            <a href="" data-toggle="modal" data-placement="top" title="Update" ng-click="GetItemSubKriteria(itemSub)" data-target="#EditSubKriteria">
                                                <i class="mdi mdi-check"></i>
                                            </a>
                                            <a href="" data-placement="top" title="Delete" ng-click="DeleteSubKriteria(itemSub)">
                                                </i><i class="mdi mdi-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TambahKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="kriteria" class="col-sm-3 text-right control-label col-form-label">Kriteria</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="kriteria" ng-model="DataInputKriteria.Kriteria" placeholder="Kriteria">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bobot" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="bobot" ng-model="DataInputKriteria.Bobot" placeholder="Bobot">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="keterangan" class="col-sm-3 text-right control-label col-form-label">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="keterangan" placeholder="Keterangan" ng-model="DataInputKriteria.Keterangan"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3">Jenis Kriteria</label>
                            <div class="col-md-9">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customControlValidation1" value="Cost" ng-model="DataInputKriteria.Jenis" name="Jenis" required>
                                    <label class="custom-control-label" for="customControlValidation1">Cost/Biaya</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="customControlValidation2" value="Benefit" ng-model="DataInputKriteria.Jenis" name="Jenis" required>
                                    <label class="custom-control-label" for="customControlValidation2">Benefit/Keuntungan</label>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="Simpan()">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TambahSubKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Sub Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="Jarak" class="col-sm-3 text-right control-label col-form-label">Jarak Nilai</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Jarak" ng-model="DataInput.Jarak" placeholder="Jarak">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BobotSubKriteria" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="BobotSubKriteria" placeholder="Bobot Sub Kriteria" ng-model="DataInput.BobotSubKriteria"></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="SimpanSubKriteria()">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="kriteria" class="col-sm-3 text-right control-label col-form-label">Kriteria</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="kriteria" ng-model="DataInput.Kriteria" placeholder="Kriteria">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bobot" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="bobot" ng-model="DataInput.Bobot" placeholder="Bobot">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="keterangan" class="col-sm-3 text-right control-label col-form-label">Keterangan</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="keterangan" placeholder="Keterangan" ng-model="DataInput.Keterangan"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="keterangan" class="col-sm-3 text-right control-label col-form-label">Jenis</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="keterangan" placeholder="Keterangan" ng-model="DataInput.Jenis"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="UpdateKriteria()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditSubKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Sub Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Jarak" class="col-sm-3 text-right control-label col-form-label">Jarak Nilai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Jarak" ng-model="DataInput.Jarak" placeholder="Jarak">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="BobotSubKriteria" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="BobotSubKriteria" placeholder="Bobot Sub Kriteria" ng-model="DataInput.BobotSubKriteria"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="UpdateSubKriteria()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>