<div ng-init="Init()">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Data Calon Penerima Beasiswa Bidikmisi</h4>
                <div class="ml-auto text-right">
                    <!-- <a class="float-right" title="Tambah Kriteria" data-toggle="modal" ng-click="TombolTambahGejala()" data-target="#TambahKriteria">
                            <font size="10px" color="blue"><i class="mdi mdi-plus-circle"></i></font>
                        </a> -->
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <!-- <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="" data-target="#daftar" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Daftar Hasil Perhitungan TOPSIS</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="" data-target="#profile" role="tab" ng-click="SelectedMahasiswa()"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Pilih Mahasiswa</span></a> </li> -->
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" data-target="#topsis" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Laporan</span></a> </li>
                    </ul>
                    <div class="tab-content tabcontent-border">

                        <div class="tab-pane active" id="daftar" role="tabpanel">
                            <div class="p-20">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-2" for="disabledTextInput">Tahun Penerimaan</label>
                                            <div class="col-md-3">
                                                <select ng-options="item as item.TahunAjaran for item in Datas.Years track by item.IdTahunAjaran" class="form-control" ng-model="Dataselected" ng-selected="check()"></select>
                                                <!-- <input type="date" id="disabledTextInput" placeholder="Disabled input"> -->
                                            </div>
                                        </div>
                                        <table datatable="ng" id="zero_config" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Urutan</th>
                                                    <th>Alternatif</th>
                                                    <th>NPM</th>
                                                    <th>Nama</th>
                                                    <th>Nilai</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="Item in Datas.HasilAkhir | filter: Dataselected.TahunAjaran">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{Item.Alternatif}}</td>
                                                    <td>{{Item.NPM}}</td>
                                                    <td>{{Item.NamaMahasiswa}}</td>
                                                    <td>{{Item.NilaiAkhir}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="p-20">
                                <table datatable="ng" id="zero_config" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>NPM</th>
                                            <th>Nama</th>
                                            <th>Kelas</th>
                                            <th>Tahun Pendaftaran</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Mahasiswa in DatasPilih">
                                            <td>
                                                <a href="" ng-show="Mahasiswa.Cheked=='Tidak'" data-toggle="modal" data-placement="top" title="Send Email" ng-click="PilihData(Mahasiswa)" data-target="#verifikasi">
                                                    <font><i class="far fa-square"></i></font>
                                                </a>
                                                <a href="" ng-show="Mahasiswa.Cheked=='Pilih'" data-toggle="modal" data-placement="top" title="Send Email" ng-click="PilihData(Mahasiswa)" data-target="#verifikasi">
                                                    <font><i class="fas fa-check-square"></i></font>
                                                </a>
                                            </td>
                                            <td>{{Mahasiswa.NPM}}</td>
                                            <td>{{Mahasiswa.NamaMahasiswa}}</td>
                                            <td>{{Mahasiswa.Kelas}}</td>
                                            <td>{{Mahasiswa.Year}}</td>
                                            <td>{{Mahasiswa.Status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="topsis" role="tabpanel">
                            <div class="p-20">
                                <div class="text-right">
                                    <a ng-show="JumlahData<2" class="btn btn-primary dropdown-toggle" ng-click="Proses()" data-placement="top" title="Proses">
                                        Proses
                                    </a>
                                    <a ng-show="JumlahData>=2" class="btn btn-primary dropdown-toggle" data-toggle="modal" ng-click="Proses()" data-placement="top" title="Proses" data-target="#HitungTopsis">
                                        Proses
                                    </a>
                                </div>
                                <table datatable="ng" id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>NPM</th>
                                            <th>Nama</th>
                                            <th>Kelas</th>
                                            <th>Tahun Pendaftaran</th>
                                            <th>Status</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Mahasiswa in DatasPilih | filter: 'Pilih'">
                                            <td>{{Mahasiswa.NPM}}</td>
                                            <td>{{Mahasiswa.NamaMahasiswa}}</td>
                                            <td>{{Mahasiswa.Kelas}}</td>
                                            <td>{{Mahasiswa.Year}}</td>
                                            <td>{{Mahasiswa.Status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="HitungTopsis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>
                <div class="modal-body">
                    <table datatable="ng" id="zero_config" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Urutan</th>
                                <th>Alternatif</th>
                                <th>NPM</th>
                                <th>Nama</th>
                                <th>Nilai</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="Item in AlternatifAkhir">
                                <td>{{$index+1}}</td>
                                <td>{{Item.Alternatif}}</td>
                                <td>{{Item.NPM}}</td>
                                <td>{{Item.NamaMahasiswa}}</td>
                                <td>{{Item.NilaiAkhir}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hitung Ulang</button>
                    <a class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-placement="top" title="Proses" data-target="#Alert">
                        Simpan Data
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Information!!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                </div>
                <div class="modal-body">
                    Yakin ingin Menyimpan Data ???
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" ng-click="Proses()" data-placement="top" title="Proses" data-target="#HitungTopsis">
                        Tidak
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="SimpanHasil()">Ya</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>