<div ng-init="Init()">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <!-- <h4 class="page-title">Data Calon Penerima Beasiswa Bidikmisi</h4> -->
                <div class="ml-auto text-right">
                    <!-- <a class="float-right" title="Tambah Kriteria" data-toggle="modal" ng-click="TombolTambahGejala()" data-target="#TambahKriteria">
                                <font size="10px" color="blue"><i class="mdi mdi-plus-circle"></i></font>
                            </a> -->
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid" style="padding-top: 250px; padding-bottom: 500px;">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>SISTEM INFORMASI<br>SELEKSI PENERIMA BEASISWA<br>BIDIKMISI</h1>
                </div>
            </div>
        </div>
    </div>


</div>