<div ng-init="Init()" style="padding-bottom: 700px;">

    <div class="page-breadcrumb">
        <div class="card m-b-0">
            <div class="row card-header">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Daftar Persyaratan</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <ol>
                            <li class="list-item" ng-repeat="item in DatasKriteria">
                                <a href="" ng-click="ShowForm(item)">{{item.Keterangan}}({{item.Kriteria}})</a>
                                <i class="mdi mdi-check" style="color: green;"></i>
                            </li>
                        </ol>
                    </div>
                    <div class="col-8">
                        <div class="card" ng-show="tampilData" ng-hide="showData">
                            <div class="card-header">
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">{{DataForm.Keterangan}}</label>
                                        <div class="col-sm-9">
                                            <b>{{InputData.Jarak}}</b>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Berkas Pendukung</label>
                                        <div class="col-sm-9" ng-hide="InputData.Berkas==null">
                                            <a href="assets/berkas/{{InputData.Berkas}}" target="_blank"><i class="mdi mdi-file-pdf" style="color: green;"></i>{{InputData.Berkas}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-primary" ng-click="FormEdit()">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" ng-show="tampilAdd" ng-hide="showadd">
                            <form ng-submit="Save()">
                                <div class="card-header">
                                    <div class="form-group row">
                                        <label class="col-md-3">{{DataForm.Keterangan}}</label>
                                        <div class="col-md-9">
                                            <div class="form-check" ng-repeat="itemsubkriteria in DataForm.SubKriteria">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" value="{{itemsubkriteria.BobotSubKriteria}}" ng-model="InputData.Nilai" name="Berkas">{{itemsubkriteria.Jarak}}
                                                </label>
                                            </div>
                                            <!-- <div class="custom-control custom-radio" ng-repeat="itemsubkriteria in DataForm.SubKriteria">
                                                <input type="radio" class="custom-control-input" id="{{itemsubkriteria.BobotSubKriteria}}" value="{{itemsubkriteria.BobotSubKriteria}}" ng-model="InputData.Nilai" name="{{DataForm.Keterangan}}" required>
                                                <label class="custom-control-label" for="{{itemsubkriteria.BobotSubKriteria}}">{{itemsubkriteria.Jarak}}</label>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">File Upload</label>
                                        <div class="col-md-9">
                                            <div class="custom-file">
                                                <input type="file" file-input="files" class="custom-file-input" id="validatedCustomFile" ng-model="InputData.Berkas" onchange="angular.element(this).scope().uploadedFile(this);" required>
                                                <label ng-show="InputData.Berkas!=undefined" class="custom-file-label" for="validatedCustomFile">{{InputData.Berkas}}</label>
                                                <label ng-show="InputData.Berkas==undefined" class="custom-file-label" for="validatedCustomFile">Pilih Berkas</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div ng-show="tampilData" ng-hide="showData">
                    <ng-pdf template-url="Viewer.html" canvasid="pdf" scale="page-fit" page=1></ng-pdf>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row col-12">
            <div class="col-4">

            </div>

        </div>
    </div>
    <div class="modal fade" id="TambahKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="kriteria" class="col-sm-3 text-right control-label col-form-label">Kriteria</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="kriteria" ng-model="DataInputKriteria.Kriteria" placeholder="Kriteria">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="bobot" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="bobot" ng-model="DataInputKriteria.Bobot" placeholder="Bobot">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="keterangan" class="col-sm-3 text-right control-label col-form-label">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="keterangan" placeholder="Keterangan" ng-model="DataInputKriteria.Keterangan"></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="Simpan()">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="TambahSubKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tambah Sub Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="Jarak" class="col-sm-3 text-right control-label col-form-label">Jarak Nilai</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Jarak" ng-model="DataInput.Jarak" placeholder="Jarak">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="BobotSubKriteria" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="BobotSubKriteria" placeholder="Bobot Sub Kriteria" ng-model="DataInput.BobotSubKriteria"></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="SimpanSubKriteria()">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EditKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Data Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="kriteria" class="col-sm-3 text-right control-label col-form-label">Kriteria</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="kriteria" ng-model="DataInput.Kriteria" placeholder="Kriteria">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bobot" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="bobot" ng-model="DataInput.Bobot" placeholder="Bobot">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="keterangan" class="col-sm-3 text-right control-label col-form-label">Keterangan</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="keterangan" placeholder="Keterangan" ng-model="DataInput.Keterangan"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="UpdateKriteria()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="EditSubKriteria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Sub Kriteria</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="Jarak" class="col-sm-3 text-right control-label col-form-label">Jarak Nilai</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Jarak" ng-model="DataInput.Jarak" placeholder="Jarak">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="BobotSubKriteria" class="col-sm-3 text-right control-label col-form-label">Bobot</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="BobotSubKriteria" placeholder="Bobot Sub Kriteria" ng-model="DataInput.BobotSubKriteria"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="UpdateSubKriteria()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>